@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

body{
    font-family: Lato;
}
/* hero section */
#header{
    background: linear-gradient(rgba(86,56,151,0.6),rgba(86,56,151,0.6)),url('/src/img/hero.png');
    color: white;
    padding: 10px;
}
#header h2{
    font-size: 65x;
    letter-spacing: 2px;
}

.navbar a{
    color : white;
}

.cta{
   margin-top: 20px;
}
.cta > a{
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: background 2s ease, border 2s ease;
}
.cta > a:hover{
    background:  #593999;
    border: 1px solid #593999;
    transition: background 2s ease, border 2s ease;
}

/* awareness section */
#awareness{
    padding : 45px;
    background-color: #ffffff;
}

#awareness h1{
    color: #e1e1e1;
    font-size: 120px;
    font-family: bold;
}

#awareness h2{
    color:#333333;
}

#awareness p{
    color: #b3b3b3;
}

.glyphicon{
    font-size: 25px;
    color : #777777;
}

/* ecs section */
#ecs{
    background: url('/src/img/ecs.png');
    background-size: cover;
}
#ecs h2{
    color: #503392;
    font-size: 40px;
    font-family: "Lato Light";
}
#ecs p{
    color: #7a7a7a;
    font-size: 18px;
}

#ecs a, #ecs .glyphicon{
   font-size: 18px;
   color: #ffffff;
   background-color: #503392;
   padding: 15px;
   letter-spacing: 1px;
   text-decoration: none;
}
#ecs .glyphicon{
    opacity: 0;
    transition: opacity 2s ease;
}

#ecs a:hover .glyphicon{
    opacity: 1;
    transition: opacity 2s ease;
} 
