@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

/* body{
    font-family: Lato;
} */
/* hero section */
#header{
    background: linear-gradient(rgba(86,56,151,0.6),rgba(86,56,151,0.6)),url('../img/hero.png');
    color: white;
    padding: 10px;
    height:100vh;
}
#header h2{
    font-size: 65x;
    letter-spacing: 2px;
}

.navbar a{
    color : white;
}

.cta{
   margin-top: 30px;
}
.cta > a{
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: background 2s ease, border 2s ease;
}
.cta > a:hover{
    background:  #593999;
    border: 1px solid #593999;
    transition: background 2s ease, border 2s ease;
}

/* awareness section */
#awareness{
    padding : 45px;
    background-color: #ffffff;
}

#awareness h1{
    color: #e1e1e1;
    font-size: 90px;
    font-family: bold;
}

#awareness h2{
    color:#333333;
}

#awareness p{
    color: #b3b3b3;
}

.glyphicon{
    font-size: 25px;
    color : #777777;
}

/* ecs section */
#ecs{
    background: url("../img/ecs.png");
    background-size: cover;
}
#ecs h2{
    color: #503392;
    font-size: 40px;
    font-family: "Lato Light";
}
#ecs p{
    color: #7a7a7a;
    font-size: 18px;
}

#ecs a, #ecs .glyphicon{
   font-size: 18px;
   color: #ffffff;
   background-color: #503392;
   padding: 15px;
   letter-spacing: 1px;
   text-decoration: none;
}
#ecs .glyphicon{
    opacity: 0;
    transition: opacity 2s ease;
}

#ecs a:hover .glyphicon{
    opacity: 1;
    transition: opacity 2s ease;
} 
/* Portfolio section */
#portfolio{
    padding:45px;
}

#portfolio .row{
   margin-bottom: 15px;
}

.portfolio_link a{
    padding: 15px;
    border: 2px solid #333333;
    text-decoration: none;
    color: #333333;
    display: block;
    margin-top: 10px;
    margin-bottom: 10x;   
}
.portfolio_images{
    display: grid;
    grid-gap: 0.5rem;
}
.image-container{
    position: relative;
}
.image-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
}
.icon-cover{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    border: 20px solid #4e3391;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.icon{
    font-size: 50px;
    position: relative;
}
.icon .glyphicon{
    color:#ed145b;
    padding: 10px;
    opacity: 0;
    background-color: transparent;
    border: 2px solid white;
    transition: opacity 0.5s ease,color 0.5s ease,background-color 0.5s ease;
}
.image-container:hover .image-cover{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
.image-container:hover .icon-cover{
    opacity: 1;
    transition: opacity 0.5s ease-out;
}
.image-container:hover .glyphicon{
    opacity: 1;
    transition: opacity 0.5s ease;
}
.image-container:hover .icon .glyphicon:hover{
    border: 2px solid  #ed145b;
    color: white;
    background-color: #ed145b;
    transition: color 0.5s ease,background-color 0.5s ease;
}
@media (min-width:425px){
    .portfolio_images{
      grid-template-columns: repeat(2,1fr);
    }
    .glyphicon{
        font-size: 15px;
        padding: 5px;
    }
    .icon-cover{
        transform: scale(0.9);
        border: 10px solid #4e3391;
    }
}
@media (min-width:768px){
    .portfolio_images{
      grid-template-columns: repeat(4,1fr);
    }
    .glyphicon{
        padding: 10px;
        font-size: 25px;
    }
}
/* statistics section */
#statistics{
    padding: 45px;
    background-image: linear-gradient(rgba(76,50,133,0.8),rgba(76,50,133,0.8)),url('../img/footer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fefefe;
    font-family: 'Lato', sans-serif;
}
.stat-details{
    text-align: center;
}
#statistics .glyphicon{
    font-size: 35px;
    color: #fefefe;
}
.number{
    font-size: 35px;
    font-weight: 900;
}
#statistics p{
    font-weight: 300;
    text-transform: capitalize;
}
@media (min-width : 768px){
    #statistics{
        height: 400px;
    }
}
/* contact section */
#contact{
    background-color: #232323;
    color:white;
    padding: 45px;
}
.contact-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.contact-header h2{
    font-size: 50px;
    font-weight: 900;
    font-family: 'lato', sans-serif;
}
.contact-header p{
    font-size: 18px;
    font-family: 'lato', sans-serif;    
}
.contact-body{
    margin-top: 45px;
}
.contact-body h3{
    font-size: 33px;
    font-family: 'lato', sans-serif;
}
input, textarea{
    display: block;
    width: 100%;
    background-color: #232323;
    padding-left: 15px;
    margin: 10px 0;
    border: 1px solid white;
    color: #ffffff;
}
input{
    height: 60px;
}
input[name="name"]{
    margin-top: 45px;
}
input[type="submit"]{
    width: 120px;
    background-color: #503392;
    font-size: 20px;
    font-family: 'lato',sans-serif;
    padding-left:0;
    border-top: none;
    border-bottom: none;
}
textarea{
    padding-top: 15px;
}
.contact-address{
    display: flex;
    align-items: center;
}
.address-details{
    margin-top: 2rem;
}
.address{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.address .glyphicon{
    color: #ffffff;
    margin-right: 2rem;
}
/* footer section */
#footer{
    background-color: #1f1f1f;
}